

body {

  margin: 0;
  text-align: center;

}

p {
  max-width: 25em;
}


.container-top h1 {
  margin-top: 0;
  font-size: 80px;
}

.container-top p {
  font-size: 40px;
}

.home-view {
  height: 100%;
  background-color: #beebe9;
  font-family: 'Sacramento', cursive;


}

.top-container {
  margin: 0 auto 0 auto;
  text-align: center;
  /* height: 100vh */
  /* padding-left: 40px;
  padding-right: 40px; */
}

.skills {
  background-color: #283747;
  padding-top: 25px;

  padding-bottom: 25px;
}

.profile {
  background-color: #28B463;
  padding-bottom: 25px;
  padding-top: 25px;
  clear: both;
  
}

.bottom-container {
  padding-top: 20px;
  background-color: #4A235A;
}

.middle-container p {
  margin: 0 auto 20px auto;
  padding-left: 10px;
  padding-right: 10px;

}




.bottom-container p {
  margin: 0 auto 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

p.copy-right  {
  margin-top: 20px;
  
}

.container-top {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.profile-pic {
    /* margin-top: 20px; */
    width: 70%;
    height: 50%;
    max-width: 20rem;
    max-height: 20rem;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 100%;
}

.android-pic {
  /* margin-top: 20px; */
  width: 70%;
  height: 50%;
  max-width: 20rem;
  max-height: 20rem;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 100%;
}

.java-pic {
  /* margin-top: 20px; */
  width: 70%;
  height: 50%;
  max-width: 20rem;
  max-height: 20rem;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 100%;
}

/* .container-margin-auto {
   margin: 0 auto; 
} */

.left-cloud-position {
  position: absolute;
  top: 20em;
  left: 0;
  max-width: 150px;
  width: 100%;

}

.right-cloud-position {
  position: absolute;
  top: 14em;
  right: 0;
  max-width: 150px;
  width: 100%;
}

.top-marg {
  padding-top: 37px;
}

.max-width {
  max-width: 800px;
  width: 100%;
}

.marg-bottom {
  margin-bottom: 4em;
}

.marg-top {
  margin-top: 7em;
}

.btn {
  text-decoration: none;
  padding: 20px;
  background-color: blue;
  color: white;
  border-width: 0;
  border-radius: 20%;
  margin: 0 auto 0 auto;
  width: 70px;
  display: block;
}

.color-text-portion {
  color: white;
}

.contact-me {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #2874A6;
}

.footer-link {
  color: azure;
}

.coco {
  color: #7DCEA0;
}