body,
html{
	width: 100%;
	height: 100%
}

.divine {
	padding-top: 2rem;
	padding-bottom: 2rem;
  	color: #000;
	text-align: center;
}

.endfoot{
	width: 100%;
	background-color: #fff;
	max-height: 30%;
};



hr {
	max-width: 45px;
	border-width: 3px;
	border-color: #F05F44;
}

.faded {
	opacity: 0.8;
}

header.startup {
	background-position: center;
	background-size: cover;
	background-image: url("demo.jpg");
	height: 100%;
}

hr {
	margin-top: 200px;
	margin-bottom: 30px;

}

h1 {
	font-size: 2rem;
}

.btn{
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 300px;
}

.btn-x1 {
	padding: 1rem 2rem;
}
.btn-primary {
	background-color: #F05F44;
	border-color: #F05F44;
}

.btn-primary:hover {
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 4px;
	cursor: pointer;
}
